# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
#uart version gitignore
Firmware/GrayScaleSensor_Uart/GrayScaleSensor_Uart.code-workspace
Firmware/GrayScaleSensor_Uart/.clang-format
Firmware/GrayScaleSensor_Uart/.cmsis/*
Firmware/GrayScaleSensor_Uart/.eide/*
Firmware/GrayScaleSensor_Uart/.vscode/*
Firmware/GrayScaleSensor_Uart/MDK-ARM/GrayScaleSensor_Uart.uvguix.*
Firmware/GrayScaleSensor_Uart/MDK-ARM/DebugConfig/*
Firmware/GrayScaleSensor_Uart/MDK-ARM/GrayScaleSensor_Uart/*
Firmware/GrayScaleSensor_Uart/MDK-ARM/EventRecorderStub.scvd
Firmware/GrayScaleSensor_Uart/MDK-ARM/GrayScaleSensor_Uart.uvoptx
#i2c version gitignore
Firmware/GrayScaleSensor_I2C/GrayScaleSensor_I2C.code-workspace
Firmware/GrayScaleSensor_I2C/.clang-format
Firmware/GrayScaleSensor_I2C/.cmsis/*
Firmware/GrayScaleSensor_I2C/.eide/*
Firmware/GrayScaleSensor_I2C/.vscode/*
Firmware/GrayScaleSensor_I2C/MDK-ARM/GrayScaleSensor_I2C.uvguix.*
Firmware/GrayScaleSensor_I2C/MDK-ARM/DebugConfig/*
Firmware/GrayScaleSensor_I2C/MDK-ARM/GrayScaleSensor_I2C/*
Firmware/GrayScaleSensor_I2C/MDK-ARM/EventRecorderStub.scvd
Firmware/GrayScaleSensor_I2C/MDK-ARM/GrayScaleSensor_I2C.uvoptx
