# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

/GrayScaleSensor_Uart.code-workspace
/.clang-format
/.cmsis/*
/.eide/*
/.vscode/*
/MDK-ARM/GrayScaleSensor_Uart.uvguix.*
/MDK-ARM/DebugConfig/*
/MDK-ARM/GrayScaleSensor_Uart/*
/MDK-ARM/EventRecorderStub.scvd
/MDK-ARM/GrayScaleSensor_Uart.uvoptx